[submodule "apps/vim/bundle/vim-airline"]
	path = apps/vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "apps/zsh/oh-my-zsh"]
	path = apps/zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/oh-my-zsh.git
[submodule "apps/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = apps/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "apps/zsh/custom/plugins/zsh-completions"]
	path = apps/zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "apps/zsh/custom/plugins/zsh-autosuggestions"]
	path = apps/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
