* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.6);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 8px;
    background: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 0 10px;
    margin: 0 5px;
}

#clock {
    border-bottom: 3px solid #64727D;
}

#battery {
    border-bottom: 3px solid #ffffff;
}

#battery.charging {
    border-bottom: 3px solid #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    border-bottom: 3px solid #2ecc71;
}

#memory {
    border-bottom: 3px solid #9b59b6;
}

#backlight {
    border-bottom: 3px solid #90b1b1;
}

#network {
    border-bottom: 3px solid #2980b9;
}

#network.disconnected {
    border-bottom: 3px solid #f53c3c;
}

#pulseaudio {
    border-bottom: 3px solid #f1c40f;
}

#pulseaudio.muted {
    border-bottom: 3px solid #90b1b1;
}

#custom-media {
    border-bottom: 3px solid #66cc99;
    color: #2a5c45;
}

.custom-spotify {
    border-bottom: 3px solid #66cc99;
}

.custom-vlc {
    border-bottom: 3px solid #ffa000;
}

#temperature {
    border-bottom: 3px solid #f0932b;
}

#temperature.critical {
    border-bottom: 3px solid #eb4d4b;
}

#tray {
    border-bottom: 3px solid #2980b9;
}

#idle_inhibitor {
    border-bottom: 3px solid #2d3436;
}

#idle_inhibitor.activated {
    border-bottom: 3px solid #ecf0f1;
    color: #2d3436;
}
